.workshops {
  color: #e6f1d6ff;

  a, a:hover {
    color: #d8fb84ff;
  }
}

.workshops .box-button {
  background-color: #3f391d50;
  color: #d8fb84ff !important;

  &:hover {
    background-color: #3f391dff;
  }
}
