.workshops {
  color: #120e34;

  a, a:hover {
    color: #120e34;
  }
}

.workshops .box-button {
  background-color: #120e34;
  color: white !important;

  &:hover {
    background-color: #120e34e6;
  }
}
