@import 'src/scss/breakpoints';
@import 'src/scss/variables';
@import 'src/scss/mixins';

.tours {
  background-size: cover;
  min-height: 500px;
  padding: 50px 0;
}

.side-column {
  --gap: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .row {
    flex: 1;
  }

  @include media-breakpoint-down(md) {
    & {
      margin-top: var(--gap);

      .row {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
      }
    }
  }
}
