@import '../../scss/variables';
@import '../../scss/bootstrap-overrides';

.donateSection {
  background-color: $color8;
  margin-bottom: -30px; // compensate for .box bottom margin

  .btn-patreon {
    text-align: center;

    a {
      background-color: $patreonColor;
      border-color: $patreonColor;
      display: inline-block;
      border-radius: 2px;

      img {
        width: 183px;
        position: relative;
        top: -1px;
      }

      &:hover {
        background-color: darken($patreonColor, 7%); 
      }

      &:active {
        background-color: darken($patreonColor, 15%) !important;
        border-color: $patreonColor !important;
      }
    }
  }

  .txt-patreon {
    text-align: center;
    margin-bottom: 20px;
  }

  hr {
    margin: 15px 0 20px;
  }

  .buttons {
    text-align: center;
    margin-top: 50px;

    .btn {
      display: inline-flex;
      margin: 0 5px;
      padding: 5px 15px;
      max-width: 40%;
      height: 40px;
      border-color: rgba(0,0,0, 0.15);
      align-items: center;
      margin-bottom: 11px;

      img {
        max-height: 30px;
        max-width: 100%;
      }
    }
  }

  .box {
    margin-bottom: 30px;
    min-height: 382px;

    &.subscribe {
      background-color: $color5;
    }

    .fc-form {
      iframe {
        z-index: 1 !important;
      }

      .fc_container {
        padding: 0 !important;
        min-height: auto;
        width: 100%;
      }
  
      .fc_header {
        font-family: $font-family-base !important;
        margin-bottom: 0;
      }
  
      p {
        margin-bottom: 0.7rem;
        text-align: justify;
        font-size: $h2-font-size !important;
        color: white !important;
  
        span {
          font-size: 1rem !important;
          line-height: 1rem !important;
        }
      }

      // .fc_input_text:not([type="email"]) {
      //   width: calc(50% - 10px) !important;
      // }

      .fc_input_text {
        height: 34px;
      }

      .tbody {
        width: 100% !important;
      }

      .fc-checkbox-row {
        position: relative !important;
        text-indent: 22px;
        margin: 0 !important;

        .fc-cell-field {
          position: static;
        }
        
        .fc-cell-text {
          padding: 5px 0;
        }

        // override switch style
        .switch-light { 
          position: static;
          width: auto;
          animation: none;

          a, .switch-span-holder {
            display: none;
          }

          input {
            opacity: 1;
            right: 0;
            top: 11px;
            z-index: 1;
          }
        } 

        .fc-text {
          color: white;
          font-size: 1rem !important;
          line-height: 1rem !important;
          font-family: $font-family-base !important;
        }
      }
  
      .fc_base, .fc-button-row {
        margin-bottom: 0 !important;
      }

      .fc-row-field {
        width: auto !important;
        margin-right: 0 !important;
      }
    }
  }
}