@import '../../../scss/variables';
@import '../../../scss/mixins';

.moreSection {
  background-color: $color6;
  position: relative;

  .tabs {
    background-color: $color5;

    .nav-link {
      color: $color3;
      font-size: 1rem;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .tab-pane {
    .container {
      @include container-padding;
    }
  }
}
