@import 'src/scss/variables';
@import 'src/scss/mixins';

.ourStory {
  background-image: url('../../../assets/images/our-story.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  background-color: $color10;

  @include container-padding(140px);
}
