@import '../../scss/breakpoints';
@import '../../scss/mixins';
@import '../../scss/variables';

html {
  background-color: $color1;
  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body[dir='rtl'] {
  text-align: right;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $bgcolor;

  .content {
    flex-grow: 1;
  }
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.6rem;
}

.box {
  background: white;
  border-radius: 5px;
  padding: 30px 50px;

  &.fullheight {
    height: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  p {
    @include box-text;
  }
}

// allow to scroll into view under the fixed header
.anchorWrapper {
  position: relative;
}
.anchor {
  position: absolute;
  top: -$header-height + 2;
}

.wrapper-col {
  padding-left: 0;
  padding-right: 0;

  & > * {
    display: inline-block;
    vertical-align: top;
  }
}

.side-column {
  --gap: 30px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .row {
    flex: 1;
  }

  @include media-breakpoint-down(md) {
    & {
      margin-top: var(--gap);

      .row {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
      }
    }
  }
}

.mockLink {
  text-decoration: underline;
  cursor: default;

  &:hover {
    text-decoration: none;
  }
}
