@import 'src/scss/breakpoints';
@import 'src/scss/variables';
@import 'src/scss/mixins';

.topSection {
  .container {
    position: relative;
    background-color: $color6;
    overflow: hidden;
    @include container-padding(70px);
  }

  .row {
    flex-direction: row-reverse !important;
  }

  .topSectionText {
    text-align: justify;
    padding-left: 25px;

    h1 {
      font-size: 1.56rem;

      @include media-breakpoint-down(md) {
        font-size: 1.35rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.35rem;
    }
  }

  .visual {
    background-color: $color4;
    border-radius: 6px;
    margin-top: 8px;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}
