@import 'src/scss/breakpoints';
@import 'src/scss/variables';
@import 'src/scss/mixins';

.topSection {
  .container {
    @include container-padding(100px);
  }

  .leaf {
    left: calc(50% - 522px) !important;
    height: 770px !important;
    width: 432px !important;
    top: 0;

    body[dir='ltr'] & {
      left: auto !important;
      right: calc(50% - 1010px) !important;
    }
  }

  .topSectionText {
    text-align: justify;
    padding-left: 25px;
  }

  .visual {
    background-color: $color4;
    border-radius: 6px;
    margin-top: 56px; // to better align the visual to the text aside

    @include media-breakpoint-down(lg) {
      margin-top: 68px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}
