@import 'src/scss/breakpoints';
@import 'src/scss/variables';
@import 'src/scss/mixins';

.contact {
  .container {
    position: relative;
    background-color: $color6;
    overflow: hidden;
    @include container-padding(70px);
  }

  .contact-details {
    text-align: center;
    margin-top: 20px;

    h4 {
      font-weight: normal;
      font-size: 16px;
      margin: 0;
    }

    strong {
      font-size: 16px;
    }

    button {
      background-color: #657054;
      width: auto;
      max-width: 100%;
      display: block;
      margin: 6px auto 0;
      padding: 5px 0 5px 20px;
      height: auto;
      line-height: normal;
      border-radius: 5px;
      color: #E6EAD2;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);

      img {
        height: 21px;
        margin: 0 10px;
      }
    }
  }

  .subscribe {
    .fc_container {
      background-color: transparent !important;
      padding: 0 50px !important;
      min-height: 410px;
    }
  }
}
