@import '../../scss/mixins';
@import '../../scss/variables';

.ourVision {
  background-size: cover;
  @include container-padding;

  body[dir='ltr'] & .container {
    display: flex;
    justify-content: flex-end;
  }

  p,
  p a {
    color: darken($color2, 7%);
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $color2;
    }
  }
}
