@import '../../scss/breakpoints';

.ourVision {
  background-size: cover;

  .box.transparent-box {
    @include media-breakpoint-down(sm) {
      background-color: rgba(white, 0.8);
      margin: 0 -15px;
    }
  }
}