@import '../../scss/breakpoints';
@import '../../scss/variables';

header {
  position: sticky;
  background-color: $color1;
  top: 0;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;

  nav {
    height: $header-height;

    .logo {
      display: inline-block; /* flexbox fix for ie10 */
      width: 90px;
      margin: 0;

      img {
        height: 50px;
      }
    }

    .navbar-collapse {
      justify-content: space-between;
    }

    @include media-breakpoint-down(md) {
      .navbar-collapse {
        position: fixed;
        top: 90px;
        left: 0px;
        width: 100vw;
        z-index: 100000;
        background: $color1;
        padding: 0 50px 40px;
        font-size: 1.2rem;

        .btn {
          width: 150px;
          margin-top: 20px;
        }
      }
    }
  }
}
