@import '../../scss/breakpoints';
@import '../../scss/variables';

.moreSection {
  .tabs {
    background-color: $color5;
    
    .nav-link {
      color: $color3;
      font-size: 1rem;

      &.active, &:hover {
        text-decoration: underline;
      }
    }
  }
  .tab-pane {
    background-color: $color6;

    .tab-content {
      min-height: 500px; // for "coming soon" items
    }
  }

  .visitSection, .scheduleSection {
    display: flex;
    margin: 0 -10px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;

      .visitText, .scheduleText {
        margin-bottom: 20px;
      }
    }

    & > * {
      margin: 0 10px;
      flex: 1;
    }

    h2 {
      margin-top: 10px;
    }
  }

  .scheduleSection iframe {
    @include media-breakpoint-down(md) {
      height: 300px;
    }
  }

  .aboutUsSection {
    margin : -70px 0;
    padding: 70px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 70%;
  }
}