@import '../../scss/breakpoints';
@import '../../scss/variables';
@import '../../scss/mixins';

.moreSection {
  background-color: $color6;
  position: relative;

  .tabs {
    background-color: $color5;

    .nav-link {
      color: $color3;
      font-size: 1rem;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .tab-pane {
    .container {
      @include container-padding;
    }

    .tab-content {
      min-height: 500px; // for "coming soon" items
    }
  }

  .scheduleSection {
    display: flex;
    margin: 0 -10px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;

      .scheduleText {
        margin-bottom: 20px;
      }
    }

    & > * {
      margin: 0 10px;
      flex: 1;
    }

    h2 {
      margin-top: 10px;
    }
  }

  .scheduleSection iframe {
    @include media-breakpoint-down(md) {
      height: 300px;
    }
  }
}
