@import '../../scss/breakpoints';
@import '../../scss/variables';

footer {
  background-color: $color1;
  padding: 30px 0;
  color: $color3;

  @include media-breakpoint-down(sm) {
    .d-flex {
      flex-direction: column-reverse;
    }
  }
  
  a {
    color: $color3;
    font-size: 16px;

    &:hover {
      color: rgba($color3, 0.75);
    }
  }

  .logo {
    height: 100px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  #info {
    text-align: left;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .link {
    padding-right: 17px;
  }

  .social {
    margin-top: 10px;

    a:hover {
      opacity: 0.85;
    }

    img{
      margin-right: 7px;
      height: 35px;
      width: 35px;
    }
  }
}
