@import '../../scss/breakpoints';
@import '../../scss/variables';
@import '../../scss/mixins';

.topSection {
  .container {
    @include container-padding(100px);
  }

  .leaf {
    left: calc(50% - 522px) !important;
    height: 770px  !important;
    width: 432px  !important;
    top: 0;
  }

  .topSectionText {
    text-align: justify;
    padding-left: 25px;
  }
  
  h1 {
    margin-top: -7px;
  }

  .visual {
    background-color: $color4;
    border-radius: 6px;

    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
}