@import '../../scss/variables';

.topSection {
  padding: 100px 0;

  h1 {
    margin-top: -7px;
  }

  iframe, img {
    background-color: $color4;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
}