$color1: #809336;
$color2: #3d6127;
$color3: #ffffff;
$color4: #b1c380;
$color5: #697f43;
$color6: #dde5c7;
$color7: #416021;
$color8: #f4f7ed;
$color9: #606060;
$color10: #fdfef9;
$color11: #f8f9f5;

$patreonColor: #f96854;

$header-height: 90px;