@import './breakpoints';

html {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  text-align: right;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 1.8rem;
  }
}

.container-padding {
  padding: 70px 0;

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.6rem;
}

.box {
  background: white;
  border-radius: 5px;
  padding: 30px 50px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  p {
    color: $color9;

    a {
      color: $color9;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.transparent-box {
    background-color: rgba(white, 0.3);

    p, p a {
      color: $color2;
    }
  }
}

// allow to scroll into view under the fixed header
.anchor {
  padding-top: $header-height - 1;
  margin-top: -$header-height - 1;
}

.wrapper-col {
  padding-left: 0;
  padding-right: 0;

  & > * {
    display: inline-block;
    vertical-align: top;
  }
}