@import '../../../../scss/breakpoints';

.scheduleSection {
  display: flex;
  margin: 0 -10px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;

    .scheduleText {
      margin-bottom: 20px;
    }
  }

  & > * {
    margin: 0 10px;
    flex: 1;
  }

  h2 {
    margin-top: 10px;
  }
}

.scheduleSection iframe {
  @include media-breakpoint-down(md) {
    height: 300px;
  }
}
